extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      - for (person in people) {
      h2
        ul Notes by #{people[person].username}:
          - for (var i = 0; i < people[person].notes.length; i++) {
          h4
            li #{people[person].notes[i]}
          - }
      - }
      a(href="/logout") Logout
      p
      h2
        | Add new note
        h4
          form(method='post', action='/add', name='new')
            textarea(name='text', cols='40', rows='3')
            br
            button(name='submit', type='submit')
              | Add new note
      p
        h2
          | List of notes
        - for (var i = 0; i < user.notes.length; i++) {
          h4
            form(method='post', action='/edit', name='old')
              textarea(name='text', cols='40', rows='3')
                | #{user.notes[i]}
              input(type='hidden' name='i' value='#{i}')
              br
              button(name='submit', type='submit')
                | Update note

            form(method='post', action='/delete', name='old')
              input(type='hidden' name='i' value='#{i}')
              button(name='submit', type='submit')
                | Remove note
        - }


      //for (person in people) {
      //   console.log(people[person].username);
      //   // people.push(peopleArray[person]);
      //}

      //script.
      //  console.log(myCursor)
      //  var myDocument = myCursor.hasNext() ? myCursor.next() : null;
      //  if (myDocument) {
      //    var myName = myDocument.username;
      //    print (tojson(myName));
      //  }

